footer {
  background-color: #202020;
  color: #ebebeb;
  padding: 1rem 0 1.5rem;
  bottom: 0;
  font-size: var(--body-font-size-xs);
}
footer .default-content-wrapper a{
  color: #ebebeb;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
